<div class="col-md-6 contato-container">
    <h2 class="text-center">Novo Contato</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Nome:</label>
        <input type="text" formControlName="nome" name="nome" class="form-control" id="nome" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
          <div *ngIf="f.nome.errors.required">Nome é um campo obrigatório</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" formControlName="email" name="email" class="form-control" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">E-mail inválido ou não informado</div>
        </div>

      <br><button class="btn btn-success">Adicionar</button>
    </div>
</form>