<div class="col-md-6 contato-container">
  <h2 style="margin: auto">Contatos</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addContato()">Novo</button><p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">ID</th>
      <th>Nome</th>
      <th>E-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contato of contatos">
      <td class="hidden">{{contato.id}}</td>
      <td>{{contato.nome}}</td>
      <td>{{contato.email}}</td>
      <td><button class="btn btn-success" (click)="deleteContato(contato)">Excluir</button>
        <button class="btn btn-success" (click)="editContato(contato)" style="margin-left: 20px;">Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
