<div class="col-md-6 contato-container">
  <h2 class="text-center">Editar Contato</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome">
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input formControlName="email" placeholder="email" name="email" class="form-control" id="email">
    </div>

    <button class="btn btn-success">Salvar</button>
  </form>
</div>
